<div class="heading">upload book</div>

<div class = "row">
    <div class="col-md-6">black</div>
    <div class="col-md-6">white</div>
</div>

<!-- 

<mat-form-field appearance="legacy" style="margin-left: 10px; margin-right: 10px;">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
</mat-form-field>

<div class="mat-elevation-z8" style="margin-left: 10px; margin-right: 10px;">
    <div style="overflow: auto;">
        <table mat-table [dataSource]="listData" matSort>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>

            <ng-container matColumnDef="id">
                <th mat-cell-header *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let cart">{{cart.id}}</td>
            </ng-container>

         

            <ng-container matColumnDef="BookName">
                <th mat-cell-header *matHeaderCellDef mat-sort-header>Book Name</th>
                <td mat-cell *matCellDef="let cart">{{cart.Book.name}}</td>
            </ng-container>

            <ng-container matColumnDef="Quantity">
                <th mat-cell-header *matHeaderCellDef mat-sort-header>Quantity</th>
                <td mat-cell *matCellDef="let cart">{{cart.quantity}}</td>
            </ng-container>
           
            <ng-container matColumnDef="Price">
                <th mat-cell-header *matHeaderCellDef mat-sort-header>Price</th>
                <td mat-cell *matCellDef="let cart">{{cart.Book.price}}</td>
            </ng-container>

          
            <ng-container matColumnDef="SumTotal">
                <th mat-cell-header *matHeaderCellDef mat-sort-header>Sum Total</th>
                 <td mat-cell *matCellDef="let cart">{{cart.Book.price * cart.quantity}}</td> 
            </ng-container> 
            
        </table>
    </div>
</div>

<button class="mt-2" mat-raised-button color="primary" (click)="onAdd()" style="margin-left: 10px; margin-right: 10px;">
    Place Order
</button>  -->